# directories
cache
node_modules
out

# files
*.env
*.log
.DS_Store
.pnp.*
lcov.info
yarn.lock

# broadcasts
!broadcast
broadcast/*
broadcast/*/31337/

# Certora
.certora*
resource_errors.json
last_conf*
certora*.txt
.zip-output-url.txt
certora/munged/*
